#container {
	width: 700px;
	margin: 0 auto;
}
.chat-input {
	width: 300px;
	height: 35px;
	border: solid 1px #444;
}
.chat-submit {
	width: 50px;
	height: 35px;
	border: solid 1px #444;
}
.chat-window {
	height: 300px;
	width: 400px;
}
#chatSection {
	float: left;
	border: 1px grey solid;
	border-radius: 10px;
	padding: 10px;
}
