.chatbox {
	display: flex;
	justify-items: center;
	align-items: center;
}

.chatbox__inputbox {
	display: flex;
	max-width: 500px;
	justify-content: center;
}

.chatbox__input {
	font-size: 16px;
	width: 80vw;
	height: 35px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.chatbox__messagebox {
	max-width: 500px;
	display: flex;
	flex-direction: column-reverse;
	max-height: 200px;
	overflow: hidden;
	overflow-y: scroll;
}

*:focus {
	outline: none;
}
