.tabitem {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 4px;
	margin-left: 16px;
	margin-right: 16px;
}

.tabitem__active {
	border-bottom: 6px solid red;
}

.tabitem__active > .MuiSvgIcon-root {
	color: red !important;
}

.tabitem > .MuiSvgIcon-root {
	font-size: 28px !important;
	transition: color 0.3s ease-in !important;
	color: rgb(24, 24, 24, 0.7);
}
